@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This is the website for our ITRW316 practical exam where we demonstrate Process scheduling using the Multi-Queue Algorithm, 
    and page replacement for virtual memory</p>
