@{
    ViewData["Title"] = "Our Info!";
}
<h2>@ViewData["Title"]</h2>

<address>
    Phillip Strydom<br />
    28732375<br />
    BSc. Physics and Computer Science<br />
</address>

<address>
    Hennard Marais<br />
    28563077<br />
    BSc.IT Information Technology and Computer Science<br />
</address>

